@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: var(--font-pretendard);
  --color-primary-bg: #BFFF00;
  --color-primary-bg-hover: #ACE500;
  --color-primary: #000000;
  --color-primary-hover: #000000;
  --color-secondary-bg: #E1E3E6;
  --color-secondary-bg-hover: #8E8E8E;
  --color-secondary: #8E8E8E;
  --color-secondary-hover: #E1E3E6;
  --color-accent: #BFFF00;
  --color-background: #FFFFFF;
  --color-error: #D42422;
  --color-orange: #FF7447;
}
